.btn {
  margin: var(--margin-component);
  padding: 3px 5px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  display: inline-block;
  border: 0;
  transition-duration: 100ms;
}

.btn:hover {
  transform: scale(1.04);
}

.summary {
}
.entry,
.notification {
  margin: var(--margin-component);
  display: block;
}

.value {
  margin: var(--margin-component);
  margin-left: 5px;
}
